<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Leaning by Doing.</p>
      </div>
      <div class="col-lg-4">
        <p> I am graduate from top 5 University in China for Bachelor and top 5 Master in Europe for Computer Science.</ br>
            After being more than 10 years professional programmer in Fortune 500, I would like also to bring the fantastic virtual world to young children.
        </p>
      </div>
    </div>
  </div>
</section>
