<!-- About Section -->
<section id="about">
  <div class="container">
<!--    <div class="row">-->
<!--      <div class="col-lg-12 text-center">-->
<!--        <h2>WHAT</h2>-->
<!--        <hr class="code-light">-->
<!--      </div>-->
<!--    </div>-->
    <div class="row">
        <p>Kids Coding Camp helps from kids to teenagers understand fundamental programming basically.
          We are aiming to help young children experience charming side of programming, creativity without any old-school teaching methodology.</p>
    </div>
  </div>
</section>
