<!-- About Section -->
<section id="about">
  <div class="container">
<!--    <div class="row">-->
<!--      <div class="col-lg-12 text-center">-->
<!--        <h2>WHAT</h2>-->
<!--        <hr class="code-light">-->
<!--      </div>-->
<!--    </div>-->
    <div class="row">
        <p><b>LEARNING BY DOING</b></p>
        <p>Kids Coding Camp helps from kids to teenagers to understand fundamental programming basically.
            We are aiming to help young children experience charming side of programming and creativity without any
            old-school teaching methodology.</p>
        <br>
        <p><b>PRACTICE, PRACTICE, PRACTICE</b></p>
        <p>After years of professional careers, we realized the easiest and most efficient way of learning is
            <b>PRACTICE</b>.
            Programming is basically a training for brain and logic thinking, which helps the children for all future
            possibilities in career, in self-organization, in rational thinking. Kids Coding Camp wants to bring the
            learning programming process through <b>projects based</b>, through more creativity ways. The children could create
            games, apps, websites, AI and more. </p>
        <br>
        <p><b>CURRICULUMS</b></p>
        <p>We have different groups for kids and teenagers. Kids will be trained specific for logic thinking and
            creativity through basic programming projects.
            Teenagers will focus on more real world programming problems, learning one real world programming language and start multiple praxis based projects.</p>
    </div>
  </div>
</section>
