<!-- About Section -->
<section id="about">
  <div class="container">
<!--    <div class="row">-->
<!--      <div class="col-lg-12 text-center">-->
<!--        <h2>WHAT</h2>-->
<!--        <hr class="code-light">-->
<!--      </div>-->
<!--    </div>-->
    <div class="row">
        <p><b>LEARNING BY DOING</b></p>
        <p>Kids Coding Camp helps from kids to teenagers understand fundamental programming basically.
          We are aiming to help young children experience charming side of programming, creativity without any old-school teaching methodology.</p>
        <br>
        <p><b>PRACTICE, PRACTICE, PRACTICE</b></p>
        <p>After years of professional career, we realized the easiest and most efficient way of learning is practice. Programming is basically a training for brain and logic thinking, which helps the children for all future possibilities in career, in self-organization, in rational thinking. Kids Coding Camp want to bring the learning programming though projects, through more creativity ways. The children could create games, apps, websites, AI and more. </p>

    </div>
  </div>
</section>
